---
import Header from '../components/Header/index.astro'
import Section1 from '../components/Section1/index.astro'
import Layout from '../layouts/Layout.astro'
import astroLogo from '../assets/astro.svg'
---

<Layout>
	<main class="flex w-full flex-col items-center gap-8 py-10">
	<Header />
	<Section1 />
		<section class="flex flex-wrap justify-center gap-8 mt-10">
		</section>
	</main>
</Layout>
