---
import { Image } from "astro:assets";
import salutelogo from "../../assets/salutelogo.svg";
import relogioicon from "../../assets/relogioicon.svg";
---

<header class="bg-teal-400 w-full fixed top-0 left-0 z-50">
  <div class="container mx-auto flex flex-col lg:flex-row relative">
    <nav class="flex items-center justify-between p-4 w-full">
      <a href="/" class="flex items-center">
        <Image
          src={salutelogo}
          alt="Salute Logo"
          class="h-10 lg:h-12"
          width={140}
          height={100}
          loading="eager"
          fetchpriority="high"
        />
      </a>
      <div class="flex items-center gap-10">
        <ul
          class="hidden lg:flex items-center gap-8 xl:gap-30 text-white font-medium"
        >
          <li>
            <a href="/" class="hover:text-gray-200 transition-colors">Início</a>
          </li>
          <li>
            <a href="/Servicos" class="hover:text-gray-200 transition-colors"
              >Serviços</a
            >
          </li>
          <li>
            <a href="/contato" class="hover:text-gray-200 transition-colors"
              >Corpo Clínico</a
            >
          </li>
          <li>
            <a href="/QuemSomos" class="hover:text-gray-200 transition-colors"
              >Quem Somos?</a
            >
          </li>
        </ul>
      </div>

      <button id="mobile-menu-button" class="lg:hidden text-white z-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>

      <article class="hidden lg:flex items-center gap-4">
        <div class="hidden lg:flex items-center gap-3">
          <Image
            src={relogioicon}
            alt="Horário"
            class="w-6 h-6"
            width={24}
            height={24}
            loading="eager"
          />
          <div class="text-white">
            <p class="font-medium text-sm">Horário de Funcionamento</p>
            <p class="font-medium text-sm">Seg a Sáb, 7h30 às 18h</p>
          </div>
        </div>
        <div class="w-[0.5px] h-10 bg-white mx-2"></div>
        <div class="hidden lg:block">
          <a
            href="/agendar"
            class="align-center text-center border border-white text-white hover:bg-teal-50 hover:text-teal-400 transition-colors px-4 py-1.5 rounded-xl font-medium"
          >
            Agendar Consulta
          </a>
        </div>
      </article>
    </nav>
  </div>

  <div
    id="mobile-menu"
    class="hidden lg:hidden bg-teal-400 pb-4 px-4 shadow-lg"
  >
    <ul class="space-y-3 text-white">
      <li>
        <a
          href="/"
          class="block py-2 hover:bg-teal-500 px-3 rounded transition-colors"
          >Início</a
        >
      </li>
      <li>
        <a
          href="/Servicos"
          class="block py-2 hover:bg-teal-500 px-3 rounded transition-colors"
          >Serviços</a
        >
      </li>
      <li>
        <a
          href="/contato"
          class="block py-2 hover:bg-teal-500 px-3 rounded transition-colors"
          >Corpo Clínico</a
        >
      </li>
      <li>
        <a
          href="/QuemSomos"
          class="block py-2 hover:bg-teal-500 px-3 rounded transition-colors"
          >Quem Somos?</a
        >
      </li>
    </ul>

    <div class="flex items-center gap-2 mt-4">
      <Image
        src={relogioicon}
        alt="Horário"
        class="w-5 h-5"
        width={20}
        height={20}
      />
      <p class="text-white text-sm">Horário de Funcionamento</p>
      <p class="text-white text-sm">Seg a Sáb, 7h30 às 18h</p>
    </div>

    <div class="mt-4">
      <a
        href="/agendar"
        class="block w-full bg-white text-teal-500 hover:bg-teal-50 text-center transition-colors py-2 rounded-lg font-medium"
      >
        Agendar Consulta
      </a>
    </div>
  </div>
</header>

<script>
  const mobileMenuButton = document.getElementById("mobile-menu-button");
  const mobileMenu = document.getElementById("mobile-menu");

  if (mobileMenuButton && mobileMenu) {
    mobileMenuButton.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });
  }
</script>
