---
import astroLogo from '../assets/astro.svg'
import background from '../assets/background.svg'
---

<header class="bg-gradient-to-r from-red-500 to-pink-500 py-6 shadow-md sticky top-0 z-50">
  <div class="container mx-auto flex items-center justify-center gap-4">
    <h1 class="text-white text-2xl font-semibold">Exemplo de Header com</h1>
    <img
      src={astroLogo.src}
      width="80"
      height="40"
      alt="Astro Logo"
      class="drop-shadow-lg"
    />
    <h1 class="text-white text-2xl font-semibold">+ Tailwind</h1>
  </div>
</header>
