---
import DescriptionSection from '../../components/ui/DescriptionSection.astro';
import IconePlus from '../../assets/plus.svg'
---

<section class="flex flex-col items-center justify-center py-10 sm:py-16 gap-6 max-w-7xl mx-auto px-6 sm:px-7 lg:px-8 mt-18">
    <DescriptionSection 
    img={IconePlus.src}
    label='NOSSOS SERVIÇOS'
    title='Conheça os Serviços da Sallute Clínica Médica'
    />
    <div class="flex flex-col gap-2 md:gap-3 lg:gap-5 px-2 lg:px-6">

        <h2 class="text-2xl sm:text-3xl lg:text-5xl font-semibold text-[#031E2D] mt-15 lg:mt-25 mb-4 w-full text-left">
            Ultrassonografia</h2>
        <p class="text-justify text-gray-700 leading-relaxed text-base sm:text-lg lg:text-2xl w-full">
            Diversos serviços de ultrassonografia com tecnologia de ponta, equipe especializada e um atendimento humanizado, garantindo diagnósticos precisos e cuidado integral com a sua saúde.</p>
        <ul class="list-disc pl-5 space-y-1 text-gray-700 text-justify leading-relaxed text-base sm:text-lg lg:text-2xl w-full mb-4">
            <li>ABDOME TOTAL;               </li>
            <li>ABDOME SUPERIOR;            </li>
            <li>PAREDE ABDOMINAL;           </li>
            <li>HIPOCÔNDRIO DIREITO;        </li>
            <li>VIAS URINÁRIAS;             </li>
            <li>PRÓSTATA;                   </li>
            <li>TIREÓIDE;                   </li>
            <li>TIREÓIDE DOPPLER;           </li>
            <li>GESTAÇÃO;                   </li>
            <li>GESTAÇÃO GEMELAR;           </li>
            <li>PÉLVICA;                    </li>
            <li>PÉLVICA + ENDOVAGINAL;      </li>
            <li>ENDOVAGINAL;                </li>
            <li>MAMAS + AXILAS;             </li>
            <li>BOLSA ESCROTAL (TESTÍCULOS);</li>
            <li>BOLSA ESCROTAL DOPPLER;     </li>
            <li>REGIAO INGUINAL;            </li>
            <li>ARTICULAÇÃO OMBRO;          </li>
            <li>ARTICULAÇÃO PUNHO;          </li>
            <li>ARTICULAÇÃO COTOVELO;       </li>
            <li>MÃO;                        </li>
            <li>ARTICULAÇÃO JOELHO;         </li>
            <li>ARTICULAÇÃO TORNOZELO;      </li>
            <li>QUADRIL;                    </li>
            <li>PÉ.                         </li>
        </ul>


        <h2 class="text-2xl sm:text-3xl lg:text-5xl font-semibold text-[#031E2D] mt-15 lg:mt-25 mb-4 w-full text-left">
            Exames em Geral</h2>
        <p class="text-justify text-gray-700 leading-relaxed text-base sm:text-lg lg:text-2xl w-full">
            Diversos serviços de ultrassonografia com tecnologia de ponta, equipe especializada e um atendimento humanizado, garantindo diagnósticos precisos e cuidado integral com a sua saúde.</p>
        <ul class="list-disc pl-5 space-y-1 text-gray-700 text-justify leading-relaxed text-base sm:text-lg lg:text-2xl w-full mb-4">
            <li>Inserir servicos;               </li>
        </ul>

                        
        <h2 class="text-2xl sm:text-3xl lg:text-5xl font-semibold text-[#031E2D] mt-15 lg:mt-25 mb-4 w-full text-left">
            Depilação a Laser</h2>
        <p class="text-justify text-gray-700 leading-relaxed text-base sm:text-lg lg:text-2xl w-full">
            Diversos serviços de ultrassonografia com tecnologia de ponta, equipe especializada e um atendimento humanizado, garantindo diagnósticos precisos e cuidado integral com a sua saúde.</p>
        <ul class="list-disc pl-5 space-y-1 text-gray-700 text-justify leading-relaxed text-base sm:text-lg lg:text-2xl w-full mb-4">
            <li>AXILAS;                     </li>
            <li>BUÇO;                       </li>
            <li>QUEIXO;                     </li> 
            <li>FACE COMPLETA;              </li>
            <li>CONTORNO DE BARBA;          </li>
            <li>LINHA ALBA;                 </li>
            <li>MEIA LINHA ALBA;            </li>
            <li>DECOTE VIRILHA;             </li>
            <li>VIRILHA COMPLETA + PERIANAL;</li>
            <li>GLUTEO;                     </li>
            <li>COXA;                       </li>
            <li>CANELA;                     </li>
            <li>INTERNO DE COXA;            </li>
            <li>PERNA COMPLETA;             </li>
            <li>BRAÇO OU ANTEBRAÇO;         </li>
            <li>ORELHAS;                    </li>
            <li>MAOS + DEDOS;               </li>
            <li>PES + DEDOS;                </li>
            <li>REGIÃO LOMBAR;              </li>
            <li>PEITORAL + AB;              </li>
            <li>COSTAS.                     </li>
        </ul>
    </div>
</section>  